$color-neutral-100: #fff;
$color-neutral-900: #1f3049;
$color-primary-400: #0066ff;

$colors: (
  neutre: (
    100: #fff,
    900: #1f3049,
    1000: #000000,
  ),
  primaire: (
    400: #0066ff,
  ),
);
/* font-families */
$ff-sans: 'Open Sans', sans-serif;

/* font-sizes */
$fs: (
  900: 60px,
  800: 48px,
  700: 27px,
  600: 24px,
  400: 18px,
);

/* font-weights */
$fw-400: 400;
$fw-700: 700;

/* size/spacing values */
$size-8: 8px;
$size-20: 20px;
$size-36: 36px;

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

:root {
  --clr-neutre-100: #{$color-neutral-100};
  --clr-primary-400: #{$color-primary-400};
  --clr-neutral-900: #{$color-neutral-900};
  --bg-card: var(--clr-neutre-100);
  --clr-text: var(--clr-neutre-1000);
  --bg-button: var(--clr-primary-400);
  --text-button: var(--clr-neutre-100);
  --card-titre: var(--clr-primary-400);
  --bg-button-h: var(--clr-neutral-900);

  @each $theme, $themeValue in $colors {
    @each $key, $value in $themeValue {
      #{'--clr-'+$key}: $value;
    }
  }
  @each $key, $value in $fs {
    #{'--fs-'+$key}: $value;
  }
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: $color-neutral-900;
  font-family: $ff-sans;
  line-height: 1.5;
  text-align: center;
}

.page-title {
  display: grid;
  place-content: center;
  padding-bottom: 5rem;
  color: var(--clr-neutre-100);
}
.card {
  display: flex;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: solid 0.25rem $color-primary-400;
  color: var(--clr-text);
  background-color: var(--bg-card);
  &__title {
    color: var(--card-titre);
    font-family: sans-serif;
    font-size: var(--fs-400);
    text-transform: uppercase;
  }
  &__feature-list {
    width: 80%;
  }
  &__list-item {
    padding: 1rem;
    &:not(:last-child) {
      border-bottom: solid 1px rgb(201, 201, 201);
    }
  }

  &__price {
    font-weight: bold;
    font-size: var(--fs-900);
  }
  &--dark {
    transform: scale(1.1);
    --bg-card: var(--clr-primary-400);
    --clr-text: var(--clr-neutre-100);
    --bg-button: var(--clr-neutre-100);
    --text-button: var(--clr-primary-400);
    --card-titre: var(--clr-neutre-100);
  }
}

span {
  font-size: var(--fs-400);
  font-weight: 300;
}
.button {
  width: 60%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--bg-button);
  color: var(--text-button);
  text-decoration: none;
  font-weight: 700;
  &:hover {
    background-color: var(--bg-button-h);
    --text-button: var(--clr-neutre-100);
  }
}
